.example-card {
    max-width: 400px;
  }
  
.example-header-image {
    background-image: url('https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg');
    background-size: cover;
}