<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rate</title>
</head>
<body>
    <h1>Exchange Rate</h1>
    <h3>Base rate: {{baseRate}}</h3>
    <h3>Time: {{date}}</h3>
    <table>
        <thead>
            <tr>
                <th>Currency</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            {{#each rate}}
                <tr>
                    <td>{{this.currency}}</td>
                    <td>{{this.rates}}</td>
                </tr>
            {{/each}}    
        </tbody>
    </table>
</body>
</html>